<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags MUST come first in the head; any other head content must come after these tags -->


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

    <div class="container">
      <h1 class="display-2">COVID-19 WhatsApp Bot</h1>
      <p class="lead my-5">
        This is a Whatsapp Bot that can provide you with the most recent stats regarding the COVID-19 outbreak.
        <br><br>
        Message any country name to find out the latest stats for that country. Additionally, you can message me "World" to get the most recent worldwide stats. Stay safe!
        <br><br>
        Get it at 👉 <a href = "https://bit.ly/2IJrVB6">bit.ly/2IJrVB6</a> and say Hi
      </p>
      <img src="/images/screenShotCovid19Bot.png" id="exampleImage">
      <hr>
      <footer style="text-align:center">
      👨‍💻 Made by <a href="https://github.com/sampoder">@sampoder</a>, <a href="https://github.com/calixo888">@calixo888</a> and <a href="https://github.com/wasomeOne">@wasomeOne</a> 
      <br><br>
      As part of <a href="https://hackclub.com">Hack Club's</a> COVID-19 Hackathon!
      <br><br>
      <a href="https://github.com/sampoder/covid19-whatsapp-bot/"><img src="https://icongr.am/fontawesome/github.svg?size=20" style="vertical-align"></a>
    </footer>
    </div>
  </body>
</html>